<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Google Apps">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.deepan.learning.jenkins.SampleSeleniumTest" />
			<class name="com.deepan.learning.jenkins.JenkinsCalFuncationTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->